body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    width: 100%
}

.search-container {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 40%;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #27847c;
    color: #fff;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}
